body {
	width: 100%;
	margin: 0;
}

header {
	margin: 3px 0;
	background-color: grey;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.main {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.main a {
	padding-left: 5px;
}
nav ul {
	display: flex;
	flex-flow: row nowrap;
	list-style-type: none;
	justify-content: flex-end;
}
header ul li {
	margin-right: 2em;
}

.active {
	display: block;
	padding: 8px 10px;
	color: #fff;
	background-color: #ff3d00;
	border-radius: 8px;
	text-decoration: none;
}

.active:hover {
	background-color: black;
	box-shadow: 10px 5px 5px #ff3d00;
}


#name {
	text-decoration: none;
	font-size: 2em;
	color: white;
	margin-left:10px;
	margin-right: 40px;
}
.content {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 3fr;
	grid-gap: 2vw;
	margin: 0 3%;
}

.content .grid-elem {
	margin: 5px;
	
	
}
.foto {
	display: flex;
	justify-content: center;
}

.btn {
	background-color: grey;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1em;
	margin-bottom: 3px;
}
.act, .btn:hover {
	background-color: black;
}

.project {
	padding:5px 2px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
	
}

.btn:after {
	content: '\02795';
	font-size: 1em;
	color: white;
	float: right;
	margin-left: 5px;
}

.act:after {
	content:"\2796";
}


.pp {
	margin-bottom: 0;
}

.scillbar {
	background-color:#ddd;
	box-sizing:border-box;
	width: 100%;
}

.percent{
	box-sizing:border-box;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.python {width: 81%; background-color:blue;}
.django {width: 78%; background-color:#04AA6D;}
.js {width: 65%; background-color:#f44336;}
.css {width: 75%; background-color:cyan;}

.view {
	text-align: center;
}
#edu li {
	margin-bottom: 10px;
}

.ed {
	overflow: auto;
}